RewriteEngine on

RewriteCond %{REQUEST_URI} !^/hidden/callback.php
RewriteCond %{REQUEST_URI} !^/hidden/bank-hook.php
RewriteRule $ /error.php [R=302,L] 

<files .htaccess="">
    order allow,deny
    deny from all
</files>